################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Pegasus.3.1.2
/TerminalServer/bin/Debug
/TerminalServer/obj/Debug
*.peg.cs
/SSH.NET/
/SampleData
/CiscoCLIParsers/bin/Debug
/CiscoCLIParsers/obj/Debug
